@model Dashboard

@{
    ViewData["Title"] = "Dashboard";
}

<main>
    <div class="cards">
        <div class="card-single">
            <div>
                <h1>@Model.TongDocGia</h1>
                <span>Patrons</span>
            </div>
            <div>
                <span><i class="bi bi-people"></i></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>@Model.TongSach</h1>
                <span>Books</span>
            </div>
            <div>
                <span><i class="bi bi-book-half"></i></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>@Model.TongTaiKhoan</h1>
                <span>Accounts</span>
            </div>
            <div>
                <span><i class="bi bi-person-add"></i></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>@Model.TongMuonSach</h1>
                <span>Loans</span>
            </div>
            <div>
                <span><i class="bi bi-cart-plus"></i></span>
            </div>
        </div>
    </div>
</main>